body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.calculator {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
              20px -20px 50px rgba(0, 0, 255, 0.4),
              -20px 20px 50px rgba(255, 0, 0, 0.4);
  text-align: center;
}

input {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 22px);
  border: 2px solid #000000;
  border-radius: 0px;
}

.buttons {
  margin: 10px 0;
}

button {
  padding: 10px;
  margin: 5px;
  width: 40px;
  border: none;
  border-radius: 0px;
  background: #000000;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #555;
}

.error {
  color: #fb184e;
  margin-top: 10px;
}

.success {
  color: #2e75ff;
  margin-top: 10px;
}
